.dockbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100vh;
  background-color: #1351b4;
  transition: all 0.025s;
}

.dockbar:hover {
  justify-content: flex-start;
  width: 240px;
  padding: 0 15px;
}

.dockbar .btn {
  display: block;
  background-color: transparent;
  border-color: transparent;
  transition: all 0.5s;
}

.dockbar .btn:hover,
.dockbar .btn.active {
  background-color: #2670e8;
  border-color: #2670e8;
}

.dockbar .btn .bi {
  font-size: 24px;
}

.dockbar .label {
  display: none;
}

.dockbar:hover .label {
  display: inline-block;
}
