.sidebar {
  display: block;
  width: 384px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #82dcff;
}

.sidebar .header {
  display: block;
  height: 64px;
  background-color: #cfe8ff;
  border-bottom: 1px solid #82dcff;
}

.sidebar .content {
  display: block;
}
